<div id="body-content" class="login panel panel-default">
	<div class="module-vehicle-add">
		<form class="login form form-group-sm" method="">
			<div class="block text-center">
				<h1 class="text-uppercase">Adicionar veículo</h1>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">Fabricante</span>
					<input type="text" class="text-left form-control" placeholder="'Mitsubishi'" aria-describedby="sizing-addon3"/>
				</div>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">Imagem</span>
					<input type="file" class="text-left form-control" aria-describedby="sizing-addon3"/>
				</div>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">Cor</span>
					<input type="color" class="text-left form-control" placeholder="'prata'" aria-describedby="sizing-addon3"/>
				</div>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">modelo</span>
					<input type="text" class="text-left form-control" placeholder="'L200' " aria-describedby="sizing-addon3"/>
				</div>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">ano</span>
					<input type="number" class="text-left form-control" aria-describedby="sizing-addon3" placeholder="'2005'" min='2000' max='2015'/>
				</div>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">kilometragem</span>
					<input type="number" class="text-left form-control" placeholder="'0000000001'" aria-describedby="sizing-addon3"/>
				</div>
				<div class="block form-input-group input-group input-group-sm">
					<span class="text-capitalize input-group">placa</span>
					<input type="text" class="text-left form-control" placeholder="'xxx-0000'" aria-describedby="sizing-addon3"/>
				</div>
			</div>
			<div class="block text-right">
				<div class="form-input-group input-group input-group-sm">
						<button class="block btn btn-warning" id="clearInput" >Limpar todos os campos</button>
						<button class="block btn btn-success" id="submitNewVehicle" >Adicionar carro</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript" src="Control/js/addVehicle.js"></script>