<div id="body-content" class="login panel panel-default">
	<h1 class="text-uppercase">Login</h1>
	<form class="login form form-group-sm" method="POST" action="">
		<div class="block text-center">
			<div class="form-input-group input-group input-group-sm">
				<span class="input-group-addon" id="sizing-addon3">user info</span>
				<input type="email" class="form-control" placeholder="email" aria-describedby="sizing-addon3"/>
				<input type="password" class="form-control" placeholder="password" aria-describedby="sizing-addon3"/>
			</div>
		</div>

		<div class="block text-right">
			<div class="form-input-group input-group input-group-sm">
				<button class="block btn btn-danger">clear</button>
				<input type="submit" class="block btn btn-success" value="login"/>
			</div>
		</div>
	</form>
</div>