<table class='table table-bordered'>
	<tr>
		<th>Foto</th>
		<th>Fabricante</th>
		<th>Cor</th>
		<th>Modelo</th>
		<th>Ano</th>
		<th>Kilometragem</th>
		<th>Placa</th>
		<th>Remover</th>
		<th>Ações</th>
	</tr>
	<tr>
		<td>
			<img src="Model/carIcons/000001.png">
		</td>
		<td>Mitsubishi</td>
		<td>branco</td>
		<td>L200</td>
		<td>2005</td>
		<td>0000000001</td>
		<td>XXX-1929</td>
		<td>
			<input class="checkbox" type="checkbox">
		</td>
		<td id="list-action">
			<div id="v_id" hidden>000001</div>
			<a class="glyphicon glyphicon-eye-open" id="open" href="#" title="Ver detalhes do veículo"></a>
			<a class="glyphicon glyphicon-pencil" id="edit" href="#" title="Editar veículo"></a>
			<a class="glyphicon glyphicon-remove" id="delete" href="#" title="Remover veículo"></a>
			<div id="list-button-info"><i>info</i></div>
		</td>
	</tr>
	<tr>
		<td>
			<img src="Model/carIcons/000002.png">
		</td>
		<td>HR</td>
		<td>prata</td>
		<td>100</td>
		<td>2007</td>
		<td>0000000002</td>
		<td>JJJ-4127</td>
		<td>
			<input class="checkbox" type="checkbox">
		</td>
		<td id="list-action">
			<div id="v_id" hidden>000002</div>
			<a class="glyphicon glyphicon-eye-open" id="open" href="#" title="Ver detalhes do veículo"></a>
			<a class="glyphicon glyphicon-pencil" id="edit" href="#" title="Editar veículo"></a>
			<a class="glyphicon glyphicon-remove" id="delete" href="#" title="Remover veículo"></a>
			<div id="list-button-info"><i>info</i></div>
		</td>
	</tr>
	<tr>
		<td>
			<img src="Model/carIcons/000003.png">
		</td>
		<td>Mercedes</td>
		<td>vermelho</td>
		<td>R20x</td>
		<td>2011</td>
		<td>0000000003</td>
		<td>MMM-1820</td>
		<td>
			<input class="checkbox" type="checkbox">
		</td>
		<td id="list-action">
			<div id="v_id" hidden>000003</div>
			<a class="glyphicon glyphicon-eye-open" id="open" href="#" title="Ver detalhes do veículo"></a>
			<a class="glyphicon glyphicon-pencil" id="edit" href="#" title="Editar veículo"></a>
			<a class="glyphicon glyphicon-remove" id="delete" href="#" title="Remover veículo"></a>
			<div id="list-button-info"><i>info</i></div>
		</td>
	</tr>
</table>